{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title> {% block page_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css_files %}{% endblock  %}

</head>
    <body>
        <header>
            <h1 class="logo">DigiRes</h1>
            <nav>
                <ul class="nav">
                    <li><a class="link" href="{% url 'home' %}">Home</a></li>
                    <li><a class="link" href="{% url 'template' %}">Templates</a></li>
                    <li><a class="link" href="{% url 'about' %}">About</a></li>
                <ul>
            </nav>

            {% if request.user.is_authenticated %}
            <p>Hello, {{request.user}}</p>
                <a class="log"href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="log" href="{% url 'login' %}">Login</a>
            {% endif %}
        </header>
{% comment %} for not found user in db {% endcomment %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %} 
        </ul>
        {% endif %}     

        {% block content %}
        
        {% endblock  %}

    </body>
</html>