@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
}

label{
    color: rgb(49, 98, 155);
    font-size: x-large;
}

input{
    padding: 10px;
    border: 1px solid #23c5c5;
    border-radius: 8px;
    border-color: #23c5c5;
    font-size: 17px;
    margin: 0px 0px 10px 20px;
}

input[type="submit"]{
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: white; 
    color: #23c5c5; 
    border: 2px solid #23c5c5;
}

input[type="submit"]:hover{
    background-color:rgb(49, 98, 155);
    border-color: rgb(49, 98, 155);
}

p{
    color: rgb(49, 98, 155);

}

div{
    padding: 60px;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(49, 98, 155);
    cursor: pointer;
}
a:hover{
    color: #23c5c5;
}