@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#resume-template{
    display: grid;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.details{
    display: flex;
    padding: 5%;
}

.print-button{
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.right-side{
    font-size: larger;
}

.col-1{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    padding: 2%;
    border-radius: 8px;
}

.col-2{
    margin: 0px 0px 0px 30px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 8px;
    padding: 2%;
}

p, h1, .card{
    margin: 0px 0px 20px 0px;
    
}

i{
    margin: 0px 10px 0px 0px;
}

a{
    color: #23c5c5;
}

.icon{
    font-size: 1.8rem;
    margin-right: 5px;
    color: rgb(49, 98, 155);
}

.uil-copy, .uil-print{
    cursor: pointer;
    margin: 0px 0px 0px 10px;
}

.down{
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.pre{
    cursor: pointer;
}

@media print {

    .down{
         display: none;
    }
    #resume-template{
        border-radius: 10px;
    }

  }