@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100&family=Short+Stack&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.nav{
    list-style: none;
    font-family: "Montserrat", sans-serif;

}

.logo{
    cursor: pointer;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 4px white;
}

.head{
    background-color: rgb(49, 98, 155);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:30px 10%;
    
   
}

li .link{
    font-family:"Montserrat", sans-serif;
    font-weight:500px;
    font-size:16px;
    color: #23c5c5;
    text-decoration: none;
}

.nav li{
    display: inline-block;
    padding:0px 20px;
}

.nav li .link{
    transition: 0.3s ease 0s;
}

.nav li .link:hover{
    color: white;
}

.footer{
    background-color: rgb(49, 98, 155);
    height: 50px; 
}
footer{
    font-size:larger;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px white;
    padding: 10px;
}
