.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #52565e;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.container {
    padding: 16px;
    width: 60%;
    position: absolute;
    left: 20%;
  }
  
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.cancelbtn, .signupbtn{
    
    border-radius: 5px;
  color: #23c5c5;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #23c5c5;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: left;
  width: 50%;
}
.cancelbtn:hover, .signupbtn:hover{
    background-color:rgb(49, 98, 155);
    border-color: rgb(49, 98, 155);
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }