{% extends 'base.html' %}
{% load static %}

{% block page_title %}Main-page{% endblock  %}
    
{% block css_files %}
    <link rel="stylesheet" href="{% static 'style/homestyle.css' %}">
{% endblock  %}

{% comment %} login-page {% endcomment %}
{% block content %}
<div>
    <div>
        <img class="resume-img" src="{% static 'images/resume.svg' %}" alt="">
    </div>

    <div class="first">
        <h2>Build a professional website for free</h2>
        <p class="para">Create your resume easily with our free builder and professional templates.</p>
        <a href="{% url 'template' %}"><button type="button" class="btn">Explore</button></a>
    </div>
</div>
{% endblock  %}
{% comment %} login-page {% endcomment %}