{% load static %}
    
{% block css_files %}
    <link rel="stylesheet" href="{% static 'style/temp1style.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

{% endblock  %}

{% block content %}


<div id="resume-template">
    <div class="details">
        <div class="col-1">
            {% comment %} column:1 {% endcomment %}
            <div class="right-side">
                <p id="nameT1"><i class="uil uil-user icon"></i>{{userdetail.name}}</p>
                <p id="contactT"><i class="uil uil-phone-volume icon"></i>{{userdetail.phone}}</p>
                <p id="emailT"><i class="uil uil-envelope-alt icon"></i>{{userdetail.email}}</p>
                <p id="addressT"><i class="uil uil-estate icon"></i>{{userdetail.address}}</p>

                <p><i class="uil uil-linkedin icon"></i><a id="linkedinT" href="#">{{userdetail.linkedin}}</a></p>
                <p><i class="uil uil-github icon"></i><a id="githubT" href="#">{{userdetail.github}}</a></p>
                <p><i class="uil uil-link-h icon"></i><a id="webT" href="#">{{userdetail.web}}</a></p>
            </div>
        </div>
        <div class="col-2">
            <h1>{{userdetail.name}}</h1>

            <div class="card">
                <div class="card-header">
                    <h3>About</h3>
                </div>
                <div class="card-body">
                    <ul id="aqT">
                        <li>{{userdetail.about}}</li>
                    </ul>
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h3>Academic Qualifications</h3>
                </div>
                <div class="card-body">
                    <ul id="aqT">
                        <li>{{userdetail.acadqual}}</li>
                    </ul>
                </div>
            </div>
            {% comment %} work exp {% endcomment %}
            <div class="card">
                <div class="card-header">
                    <h3>Work Experience</h3>
                </div>
                <div class="card-body">
                    <ul id="wexT">
                        <li>{{userdetail.workexp}}</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Your Interests</h3>
                </div>
                <div class="card-body">
                    <ul id="aqT">
                        <li>{{userdetail.inter}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    
</div>
<div class="down">
    <a class="pre" onclick="window.print()"><i class="uil uil-print icon"></i>Print your Resume.</a>

    <a class="pre" onclick="copyToClipboard()"><i class="uil uil-copy icon" ></i>Copy your Resume link.</a>
</div>

<script src="{% static 'js/Temp1js.js' %}"></script>

{% endblock  %}